* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

section .player-mod-cont {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
section .player-mod-cont .player-button {
  padding: 15px 25px;
  font-size: 20px;
  font-family: "Times New Roman", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #b5b2b0;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.9);
  transition: 0.3s;
}
section .player-mod-cont .player-button:nth-child(1) {
  border-radius: 20px 0 0 0;
}
section .player-mod-cont .player-button:nth-child(2) {
  border-radius: 0 0 20px 0;
}
section .player-mod-cont .player-button:hover {
  transition: 0.5s;
  transform: scale(1);
  -webkit-text-fill-color: white;
  color: white;
  background: rgb(180, 58, 58);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(18, 31, 207) 0%, rgb(207, 21, 18) 100%);
}
section .massage-block {
  width: 350px;
  margin: 0 auto;
  position: relative;
}
section .massage-block .players {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 111;
  font-weight: 700;
}
section .massage-block .players span {
  font-size: 26px;
  margin: 10px 20px;
  opacity: 0.7;
  transition: all 0.5s;
}
section .massage-block .players .player-1 {
  color: #1620CB;
}
section .massage-block .players .player-2 {
  color: #B4162D;
}
section .massage-block .players .player-3 {
  color: #B4162D;
  display: none;
}
section .massage-block .board-closer {
  background-color: white;
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: 11;
  opacity: 0.3;
}
section .massage-block .massage-game-mode {
  color: white;
  width: 250px;
  font-size: 24px;
  background: rgb(180, 58, 58);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(18, 31, 207) 0%, rgb(207, 68, 18) 100%);
  position: absolute;
  z-index: 111;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 20px 40px 20px;
  top: 150px;
  left: 50px;
}
section .massage-block .counter-block {
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 450px;
}
section .massage-block .counter-block div {
  margin: 0 30px;
  font-size: 40px;
}
section .massage-block .counter-block span {
  font-family: Arial sans-serif;
  font-size: 40px;
}
section .massage-block .win-massage {
  display: none;
  z-index: 111;
  width: 230px;
  position: absolute;
  top: 200px;
  left: 35px;
  flex-direction: column;
  text-align: center;
  padding: 20px 25px;
  border-radius: 40px 20px 40px 20px;
  background: rgb(180, 58, 58);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(18, 31, 207) 0%, rgb(207, 68, 18) 100%);
}
section .massage-block .win-massage span {
  color: white;
  line-height: 1.6;
  font-size: 20px;
}
section .gameblock-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 330px;
  height: 330px;
  background: rgb(180, 58, 58);
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(18, 31, 207) 0%, rgb(207, 21, 18) 100%);
}
section .gameblock-cont .gameblock-board {
  background-color: darkgray;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
section .gameblock-cont .gameblock-board div {
  cursor: pointer;
  font-family: sans-serif !important;
  background-color: white;
  height: 98px;
  width: 98px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .gameblock-cont .gameblock-board div:hover {
  background-color: dimgrey !important;
}

.clicked {
  transition: 0.5s !important;
  transform: scale(0.9) !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
  background: rgb(180, 58, 58) !important;
  background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(18, 31, 207) 0%, rgb(207, 21, 18) 100%) !important;
}

/*# sourceMappingURL=main.css.map */
